data/txrevise.all.gff3
slurm*
results*
.nextflow*
work
singularity_img/
vcfs/
client-state/
sessions/
projects_settings/
results/
input/exon_testdata
input/ge
input/GTEX_blood_ge
input/lc_testdata
input/tx_testdata
input/txrev_testdata
sbatch_runs/*
input/*
temp_debug
.venv/
EDA/*
test_data_legacy/*