/*
 * -------------------------------------------------
 *  eQTL-Catalogue/qtlmap Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {

  // Workflow flags
  chunk_size = 200
  vcf_sample_names_correction = false
  vcf_samples_old_string_part = ""
  vcf_samples_new_string_part = ""

  // Boilerplate options
  name = false //Name for the pipeline run. If not specified, Nextflow will automatically generate a random mnemonic.
  email = false
  plaintext_email = false
  help = false
  igenomes_base = "./iGenomes"
  tracedir = "${params.outdir}/pipeline_info"
  clusterOptions = false
  awsqueue = false
  awsregion = 'eu-west-1'
  igenomesIgnore = false
  custom_config_version = 'master'
  mane_transcript_gene_map = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/MANE_transcript_gene_map.txt'
  mane_gtf_file = '/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.gtf'

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
// includeConfig "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}/nfcore_custom.config"

profiles {
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  tartu_hpc { includeConfig 'conf/tartu_hpc.config'}
  test { includeConfig 'conf/test.config'}
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/nf-core/pipeline_timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/nf-core/pipeline_report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/nf-core/pipeline_trace.txt"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.tracedir}/nf-core/pipeline_dag.svg"
}

manifest {
  name = 'eQTL-Catalogue/qtlmap'
  author = 'Nurlan Kerimov, Kaur Alasoo'
  homePage = 'https://github.com/eQTL-Catalogue/qtlmap'
  description = 'Portable eQTL analysis pipeline used by the eQTL Catalogue'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '20.10.1'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
